@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body::before {
  display: block;
  content: "";
  height: 90px;
}
body {
  background-color: #f8f8f8;
}
form {
  margin: 50px;
}
.loading-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}
